.contact {
  &-form {
    width: 100%;
    max-width: 450px;
    border-radius: 15px;
    padding: 40px;
    background: map_get($colors, primary);
    position: relative;
    z-index: 10;
    pointer-events: all;
    text-align: center;
    @include transition($transition);

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 185px;
      height: 185px;
      pointer-events: none;
      z-index: 0;
      background: url('../img/svg/contact-circle.svg') no-repeat;
      background-size: cover;
    }
    h3 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    p {
      font-size: 14px;
      margin-bottom: 15px;
    }
    a {
      text-decoration: none;
      border-bottom: 1px solid transparent;

      &:hover {
        color: #fff;
        border-bottom-color: #fff;
      }
    }
    .site-social {
      margin-bottom: 15px;

      ul {
        li {
          &:first-child {
            margin-left: auto;
          }
          &:last-child {
            margin-right: auto;
          }
        }
      }
    }
    @media (max-width: $screen-sm-max) {
      max-width: 100%;
      border-radius: 0;

      p {
        text-align: center;
      }
    }
    @media (max-width: $screen-xs-max) {
      padding: 30px 15px;
    }
  }
}