.games {
  &-list {
    margin-bottom: 50px;
    @include flexbox();
    @include flex-wrap(wrap);

    @media (max-width: $screen-sm-max) {
      margin-bottom: 30px;
    }
  }
  &-item {
    width: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    @include transition($transition);

    &:hover {
      z-index: 2;
      @include box-shadow(map_get($shadows, game));

      .games-item {
        &__thumbnail {
          @include opacity(.2);
        }
        &__header {
          &:before {
            @include translate(0, 0);
          }
          .games-item {
            &__title,
            &__line,
            &__excerpt {
              left: 0;
              @include transition-delay(0s);
              @include opacity(1);
            }
            &__trailer {
              right: 15px;
              @include opacity(1);
            }
          }
        }
        &__about {
          left: 15px;
          @include opacity(1);
        }
        &__logo {
          @include translate(0, -400%);
        }
      }
    }
    &._shown_content {
      .games-item {
        &__thumbnail {
          @include opacity(.2);
        }
        &__content {
          &-circle {
            @include translate(30%, -25%);
          }
          .games-item {
            &__title,
            &__line,
            &__excerpt,
            &__specifications {
              @include opacity(1);
            }
            &__trailer {
              @include transition(opacity .3s .3s ease);
              @include transition(background .3s ease, border, .3s ease);
              @include opacity(1);
            }
          }

          @media (max-width: $screen-sm-max) {
            height: 100%;
          }
        }
        &__about {
          left: 15px;
          @include opacity(1);

          &-icon {
            border-color: #fff;
            background: transparent;
          }
          &-text {
            color: #fff;
          }
          &:hover {
            .games-item__about {
              &-icon {
                border-color: map_get($colors, default);
                background: map_get($colors, default);
              }
              &-text {
                color: map_get($colors, default);
              }
            }
          }
          .icon-about {
            display: none;
          }
          .icon-arrow-down {
            display: block;
          }
        }
        &__header {
          &:before {
            @include translate(36%, -36%);
          }
          .games-item {
            &__title,
            &__line,
            &__excerpt {
              left: 20%;
              @include opacity(0);
            }
            &__trailer {
              right: -15px;
              @include opacity(0);
            }
          }
        }
      }
    }
    &__thumbnail {
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 350px;
      position: relative;
      z-index: 2;
      @include flexbox();
      @include flex-wrap(wrap);
      @include align-items(center);
      @include transition($transition);

      @media (max-width: $screen-sm-max) {
        min-height: 400px;
      }
    }
    &__logo {
      max-width: 300px;
      margin: auto;
      @include transition($transition);
    }
    &__header {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      max-width: 45%;
      padding: 15px;
      text-align: right;
      min-height: 260px;
      @include transition(all .5s ease);

      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: -260px;
        bottom: 0;
        top: -260px;
        z-index: 0;
        width: 520px;
        height: 520px;
        border-radius: 50%;
        background: #F15959;
        box-shadow: map_get($shadows, circle);
        @include transition($transition);
        @include transition-delay(.1s);
        @include translate(36%, -36%);
      }
      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
    &__content {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      max-width: 87%;
      z-index: 10;
      padding: 15px;
      text-align: left;
      pointer-events: none;
      @include transition(all .5s ease);

      &-circle {
        content: '';
        position: absolute;
        right: 0;
        left: -342px;
        bottom: 0;
        top: 0;
        z-index: 0;
        width: 685px;
        height: 685px;
        border-radius: 50%;
        background: #F15959;
        overflow: hidden;
        box-shadow: map_get($shadows, circle);
        @include transition($transition);
        @include transition-delay(.1s);
        @include translate(-60%, -25%);

        &:before {
          content: '';
          position: absolute;
          bottom: 225px;
          left: 0;
          right: 0;
          height: 1px;
          background: map_get($colors, default);
          z-index: 15;
          @include box-shadow(map_get($shadows, line), 0 -10px 0px 10px rgba(map_get($colors, secondary), .9));
        }
      }
      .games-item {
        &__title,
        &__line,
        &__excerpt {
          z-index: 12;
          left: 0;
          text-align: left;
          margin-right: auto;
          margin-left: 0;
          right: 15px;
          font-weight: 200;
        }
        &__excerpt {
          max-width: 100%;
          margin-bottom: 20px;
        }
        &__trailer {
          pointer-events: all;
          z-index: 15;
          right: 20px;
        }
      }
    }
    &__specifications {
      font-size: 12px;
      line-height: 1.15;
      color: #fff;
      position: relative;
      z-index: 5;
      left: 0;
      right: 15px;
      margin: 0;
      @include transition($transition);
      @include transition-delay(0s);
      @include opacity(0);

      &-title {
        font-weight: 600 !important;
      }
      p {
        font-size: 12px;
        font-weight: 200;
        margin-bottom: 0;

        strong {
          font-weight: 600;
        }
      }
    }
    &__title {
      width: 100%;
      font-size: 25px;
      color: #fff;
      text-transform: uppercase;
      position: relative;
      z-index: 5;
      left: 20%;
      margin: 0;
      @include transition($transition);
      @include transition-delay(0s);
      @include opacity(0);
    }
    &__line {
      display: block;
      width: 100%;
      max-width: 125px;
      height: 1px;
      background: map_get($colors, default);
      position: relative;
      z-index: 5;
      left: 20%;
      margin: 10px 0 0 auto;
      @include transition($transition);
      @include transition-delay(0s);
      @include opacity(0);
    }
    &__excerpt {
      width: 100%;
      font-size: 12px;
      font-weight: 200;
      line-height: 1.3;
      color: #fff;
      position: relative;
      z-index: 5;
      left: 20%;
      margin: 10px 0 0 auto;
      text-align: right;
      max-width: 80%;
      @include transition($transition);
      @include transition-delay(0s);
      @include opacity(0);

      p {
        text-align: inherit;
        line-height: inherit;
        @extend ._inherit;
      }
    }
    &__about {
      position: absolute;
      left: -15px;
      bottom: 15px;
      z-index: 15;
      cursor: pointer;
      @include flexbox();
      @include flex-wrap(wrap);
      @include align-items(center);
      @include transition-delay(.3s);
      @include transition($transition);
      @include opacity(0);

      &:hover {
        .games-item__about {
          &-icon {
            border-color: map_get($colors, secondary);
            background: map_get($colors, secondary);
          }
          &-text {
            color: map_get($colors, secondary);
          }
        }
      }
      &-icon {
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 50%;
        margin-right: 10px;
        @include flexbox();
        @include flex-wrap(wrap);
        @include align-items(center);
        @include transition($transition);

        .icon {
          max-width: 4px;
          max-height: 14px;
          margin: auto;
        }
        .icon-arrow-down {
          display: none;
          max-width: 14px;
          max-height: 14px;
          stroke-width: 2px;
          @include rotate(90deg);
        }
      }
      &-text {
        color: #fff;
        font-size: 14px;
        @include transition($transition);
      }
      @media (max-width: $screen-sm-max) {
        display: none;
      }
    }
    &__more {
      display: none;
    }
    &__trailer {
      position: absolute;
      bottom: 15px;
      right: -15px;
      z-index: 15;
      @include opacity(0);
      @include transition($transition);
    }
    @media (max-width: $screen-md-max) {
      width: 100%;
      max-width: 585px;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: $screen-sm-max) {
      width: calc(100% + 30px);
      margin-left: auto;
      margin-right: auto;

      &._shown_content {
        .games-item {
          &__content {
            &-circle {
              @include translate(-50%, -53%);
            }
          }
          &__more {
            top: 84%;

            ._on {
              display: block;
            }
            ._off {
              display: none;
            }
          }
        }
      }
      &__content {
        max-width: 100%;

        &-circle {
          width: 820px;
          height: 820px;
          left: 50%;
          top: 0;
          @include translate(-50%, -95%);

          &:before {
            bottom: 56px;
          }
        }
      }
      &__title {
        font-size: 20px;
      }
      &__excerpt {
        margin-bottom: 10px;
      }
      &__trailer {
        display: none;
      }
      &__more {
        display: block;
        position: absolute;
        top: 0;
        height: 42px;
        left: 0;
        right: 0;
        z-index: 150;
        text-align: center;
        pointer-events: all;
        @include transition(all .45s ease);
        @include flexbox();
        @include flex-wrap(wrap);
        @include align-items(center);

        .icon {
          margin: auto;
          pointer-events: all;

          &-arrow-down {
            max-width: 30px;
            max-height: 14px;
            @include rotate(-180deg);
          }
        }
        ._on {
          display: none;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      max-width: none;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  &-detail {
    &__info {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 2;
      width: 400px;
      height: 400px;
      padding: 100px 15px 15px;
      text-align: right;
      @include flexbox();
      @include flex-wrap(wrap);
      @include align-items(center);

      @media (max-width: $screen-md-max) {
        width: 250px;
        height: 350px;
        padding: 80px 15px 15px;
      }
      @media (max-width: $screen-xs-max) {
        width: 100%;
        height: 220px;
        padding: 20px 15px 30px 15px
      }
    }
    &__circle {
      content: '';
      position: absolute;
      right: -460px;
      bottom: -460px;
      width: 920px;
      height: 920px;
      border-radius: 50%;
      z-index: 1;
      background: rgba(map_get($colors, secondary), .9);
      @include transition($transition);

      @media (max-width: $screen-md-max) {
        right: -350px;
        bottom: -350px;
        width: 700px;
        height: 700px;
      }
      @media (max-width: $screen-xs-max) {
        right: -25%;
        left: -25%;
        width: 150%;
        bottom: -350px;
        height: 600px;
      }
    }
    &__title {
      width: 100%;
      font-size: 40px;
      font-weight: 600;
      color: #FFFFFF;
      margin: 0;

      @media (max-width: $screen-md-max) {
        font-size: 26px;
      }
      @media (max-width: $screen-xs-max) {
        max-width: 320px;
        margin: 0 auto;
        text-align: center;
      }
    }
    &__excerpt {
      width: 100%;
      font-size: 18px;
      color: #FFFFFF;
      margin: 15px 0 auto;
      text-align: right;

      p {
        font-size: inherit;
        text-align: inherit;
      }
      @media (max-width: $screen-md-max) {
        font-size: 14px;
      }
      @media (max-width: $screen-xs-max) {
        text-align: center;
        margin: 5px 0;
      }
    }
    &__icons {
      width: 100%;
      margin: auto -8px 0;
      text-align: right;
      @include flexbox();
      @include flex-wrap(wrap);

      .icon-wrapper {
        margin: 0 8px;

        &:first-child {
          margin-left: auto;
        }
        @media (min-width: $screen-lg) {
          width: 50px;
          height: 50px;

          .icon {
            @include scale(1.5)
          }
        }
        @media (max-width: $screen-xs-max) {
          &:last-child {
            margin-right: auto;
          }
        }
      }
      @media (max-width: $screen-xs-max) {
        margin: 0 0 auto;
      }
    }
    &__gallery {
      @include flexbox();
      @include flex-wrap(wrap);

      &-item {
        width: 33.3333%;
        min-height: 35vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        @include transition($transition);

        &:hover {
          .games-detail__gallery-zoom {
            @include scale(1);
            @include opacity(1);
          }
        }
        @media (max-width: $screen-sm-max) {
          width: 50%;
          min-height: 350px;
        }
        @media (max-width: $screen-xs-max) {
          min-height: 150px;
        }
        @media (max-width: $screen-xs) {
          min-height: 150px;
        }
      }
      &-zoom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(map_get($colors, secondary), .8);
        z-index: 2;
        pointer-events: none;
        @include transition($transition);
        @include scale(1.2);
        @include opacity(0);
        @include flexbox();
        @include flex-wrap(wrap);
        @include align-items(center);

        .icon-wrapper {
          margin: auto;
          width: 40px;
          height: 40px;
        }
      }
      &-image {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }
    &__slider {
      position: relative;
      z-index: 10;
      @include box-shadow(map_get($shadows, default));

      &-item {
        height: calc(100vh - 70px);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -moz-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        @include flex-wrap(wrap);
        @include align-items(center);

        &:before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          background: rgba(map_get($colors, default), .6);
        }
        .container {
          margin: auto;
          position: relative;
          z-index: 9;
        }
        @media (max-width: $screen-md-max) {
          .container {
            max-width: 800px;
          }
        }
        @media (max-width: $screen-sm-max) {
          .container {
            max-width: 600px;
          }
        }
        @media (max-width: $screen-xs-max) {
          height: 450px;

          .container {
            padding-top: 80px;
            margin: 0 auto auto;
          }
        }
      }
      &-title {
        font-size: 55px;
        font-weight: 600;
        line-height: 1.1;
        color: #FFFFFF;
        text-align: left;
        margin: 0 !important;

        @media (max-width: $screen-sm-max) {
          font-size: 35px;
        }
        @media (max-width: $screen-xs-max) {
          font-size: 22px;
        }
      }
      &-description {
        font-size: 20px;
        color: #FFFFFF;
        max-width: 700px;
        text-align: justify;
        margin: 15px 0 0 0;

        @media (max-width: $screen-sm-max) {
          font-size: 18px;
        }
        @media (max-width: $screen-xs-max) {
          font-size: 14px;
        }
      }
      .slick {
        &-arrow {
          position: absolute;
          top: 50%;
          border: 0;
          background: transparent;
          padding: 0;
          margin: 0;
          z-index: 10;
          height: 30px;
          @include translate(0, -50%);

          .icon {
            max-width: 30px;
            max-height: 14px;

            &:hover {
              stroke: map_get($colors, secondary);
            }
          }
          @media (max-width: $screen-xs-max) {
            top: 22px;
            @include translate(0, 0);
          }
        }
        &-prev {
          left: 40px;

          .icon {
            @include rotate(90deg);
          }
          @media (max-width: $screen-xs-max) {
            left: inherit;
            right: 45px;
          }
        }
        &-next {
          right: 40px;

          .icon {
            @include rotate(-90deg);
          }
          @media (max-width: $screen-xs-max) {
            right: 15px;
          }
        }
      }
    }
    &__specifications {
      color: #fff;
      background: map_get($bg-colors, primary);
      overflow: hidden;
      position: relative;
      @include flexbox();
      @include flex-wrap(wrap);

      &:before {
        @media (min-width: $screen-md) {
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          top: 0;
          width: 1px;
          background: map_get($colors, border-light);
          @include translate(-50%, 0);
        }
      }
      &:after {
        content: '';
        position: absolute;
        left: -117px;
        top: -117px;
        width: 235px;
        height: 235px;
        border-radius: 50%;
        z-index: 0;
        background: map_get($colors, secondary);

        @media (max-width: $screen-sm-max) {
          top: 50%;
          left: inherit;
          right: -160px;
          @include translate(0, -50%)
        }
      }
      &-col {
        width: 50%;
        position: relative;
        z-index: 5;

        @media (max-width: $screen-sm-max) {
          width: 100%;

          &:not(:last-child) {
            border-bottom: 1px solid map_get($colors, border-light);
          }
        }
      }
      &-header {
        display: block;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        padding: 15px 30px;
        border-bottom: 1px solid map_get($colors, border-light);
        position: relative;
        z-index: 5;

        @media (max-width: $screen-sm-max) {
          border-bottom: 0;
          padding: 15px;
        }
      }
      &-text {
        display: block;
        color: #fff;
        padding: 30px;
        font-size: 12px;
        line-height: 1.2;
        font-weight: 200;
        margin: 0 !important;

        p {
          font-size: inherit;
          line-height: inherit;
          font-weight: 200;
        }
        @media (max-width: $screen-sm-max) {
          padding: 5px 15px 25px;
        }
      }
      @media (max-width: $screen-sm-max) {
        margin-left: -15px;
        margin-right: -15px;
      }
    }
    .games-item {
      &__logo {
        margin: auto auto  15px 15px;

        @media (max-width: $screen-sm-max) {
          margin: 15px 15px auto auto;
          max-width: 200px;
        }
      }
    }
  }
}