.modal {
  pointer-events: none;
  @include flexbox();
  @include opacity(0);

  &.in {
    pointer-events: all;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -moz-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    @include flex-wrap(wrap);
    @include align-items(center);
    @include opacity(1);
  }
  &._full {
    .modal {
      &-dialog {
        max-width: none;
        width: 100%;
        height: 100%;
      }
      &-content {
        height: 100%;
        width: 100%;
      }
    }
  }
  &._trailer {
    .modal {
      &-dialog {
        &:before {
          content: '';
          position: absolute;
          top: -75px;
          right: -75px;
          width: 150px;
          height: 150px;
          border-radius: 50%;
          background: map_get($colors, default);
          z-index: 1;
          @include box-shadow(map_get($shadows, circle));
        }
      }
      &-close {
        z-index: 10;

        @media (max-width: $screen-sm-max) {
          top: 15px;
        }
        @media (max-width: $screen-xs) {
          top: 15px;
        }
      }
    }
  }
  &-dialog {
    margin: auto;
  }
  &-content {
    @include box-shadow(map_get($shadows, circle));
  }
  &-close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    @include flexbox();
    @include flex-wrap(wrap);
    @include align-items(center);
    @include transition($transition);

    &:hover {
      background: map_get($colors, secondary);
    }
    .icon {
      stroke: #fff;
      margin: auto;
      position: relative;
      top: 1px;
    }
    @media (max-width: $screen-sm-max) {
      top: 24px;
      right: 15px;
    }
    @media (max-width: $screen-xs) {
      top: 20px;
    }
  }
  .subscribe {
    &__header {
      &-text {
        @media (max-width: $screen-xs) {
          font-size: 30px;
        }
      }
    }
    &__form {
      width: calc(100% - 100px);
      text-align: center;

      @media (max-width: $screen-sm-max) {
        width: 100%;
      }
      @media (max-width: $screen-xs-max) {
        padding: 30px;
      }
    }
  }
  .es_msg {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 15px;

    span {
      margin: auto;
    }
    @media (max-width: $screen-sm-max) {
      position: static;
      height: auto;
      margin-top: 15px;
    }
  }
  .arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
    top: 50%;
    z-index: 10;
    @include translate(0, -50%);
    @include transition($transition);

    &._hidden {
      pointer-events: none;
      @include opacity(0);
    }
    &:hover {
      .icon {
        stroke: map_get($colors, secondary);
      }
    }
    .icon {
      max-width: 30px;
      max-height: 14px;
      position: relative;
      z-index: 2;
    }
    @media (max-width: $screen-xs) {
      @include scale(.5);
    }
  }
  .prev {
    left: 10px;

    &:before {
      content: '';
      position: absolute;
      top: -60px;
      left: -100px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: map_get($colors, default);
      z-index: 1;
      @include box-shadow(map_get($shadows, circle));

      @media (max-width: $screen-xs) {
        left: -110px;
      }
    }
    .icon {
      @include rotate(90deg);
    }
  }
  .next {
    right: 10px;

    &:before {
      content: '';
      position: absolute;
      top: -60px;
      right: -100px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: map_get($colors, default);
      z-index: 1;
      @include box-shadow(map_get($shadows, circle));

      @media (max-width: $screen-xs) {
        right: -110px;
      }
    }
    .icon {
      @include rotate(-90deg);
    }
  }
}