.pagination {
  margin-top: 65px;
  width: 100%;
  text-align: center;

  .screen-reader-text {
    display: none;
  }
  .nav-links {
    width: 100%;
  }
  .page-numbers {
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
    margin: 0 2px;
    line-height: 25px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    color: map_get($colors, text);
    text-decoration: none;
    font-size: 13px;
    @include transition($transition);

    &:hover {
      background: map_get($colors, secondary);
      color: #fff;
    }
    &.current {
      background: lighten(map_get($colors, primary), 10%);
      color: #fff;
    }
    &.next {
      background: darken(map_get($colors, secondary), 10%);

      &:hover {
        background: map_get($colors, secondary);
      }
      .icon {
        position: relative;
        top: -1px;
        left: 1px;
        max-width: 12px;
        max-height: 6px;
        @include rotate(-90deg);
      }
    }
    &.prev {
      background: darken(map_get($colors, secondary), 10%);

      &:hover {
        background: map_get($colors, secondary);
      }
      .icon {
        position: relative;
        top: -1px;
        left: -1px;
        max-width: 12px;
        max-height: 6px;
        @include rotate(90deg);
      }
    }
  }
  @media (max-width: $screen-sm-max) {
    margin-top: 45px;
  }
  @media (max-width: $screen-xs-max) {
    margin-top: 30px;
  }
}